.main {
    /* background: url(./img/lawn.jpg) top center / 100% no-repeat fixed border-box; */
    position: relative;
    /* z-index: -1; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

p {
    filter: opacity(.2);

}

.pointer {
    position: absolute;
    font-size: 80px;
    top: -150px;
    filter: opacity(.3);
    animation: swing .7s infinite ease-out;
}

@keyframes swing {
    from {transform:translateY(0)}
    to {transform:translateY(70%)}
}